@import 'reset.css';
@import 'animations.css';
*{
    transition: ease-in-out  0.3s;
}
.logo{
    height: 5vh;
}

nav {
    background: linear-gradient(90deg, #FF8C00, #FF4500);
    /* Outros estilos que você queira adicionar */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 1vh 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .card {
    margin: 5rem;
    background-color: rgba(48, 48, 48, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh !important;
}

.container .card-form{
    margin: 5rem;
    height: 80vh !important;
}

.container .card .card-header h3{
    color: #ffffff;
}

.receita-img{
    height: 30% !important;
}
.search-container {
    margin: 0 5vw;
    margin-top: 7vh;
    width: 90vw;
    padding: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(48, 48, 48, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

form {
    width: 80%;
    height: 5vh;
    position: relative;
    margin-top: 4vh;
}

.ulReceitas{
    width: 80% !important;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ulReceitas li{
    margin-top: 5vh;
    height: 5vh;
    padding: auto 0.7rem;
    float: left;
    position: absolute;
    width: 100% !important;
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}

.ulReceitas li a{
    text-decoration: none;
    font-size: 2vh;
    height: 90%;
}

.form-control,
.form-control:active,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 2vh !important;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 5vh;
    
}
::placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder{
    font-size: 2vh !important;
}